<!DOCTYPE html>
<html lang="zh-cn">
<head>
   <meta charset="utf-8">
   {% if page.description!=null %}<meta name="description" content="{{page.description}}">{% endif %}
   <meta name="author" content="奔跑吧大兄弟">
   <title>{% if page.pagetitle != null %}{{page.pagetitle}} | {% endif %}奔跑吧大兄弟</title>
   <link rel="icon" type="img/x-icon" href="favicon.icon">
   <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
   {% if page.headcss != null %}{{ page.headcss }}{% endif %}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/ife-task/js/jquery-1.10.1.min.js"><\/script>')</script>
  <script type="text/javascript" src={% if page.url == "/index.html" %}"{{site.baseurl}}/js/jquery.tipsy.js"{% else %}"{{site.baseurl}}/js/lightbox.js"{% endif %}></script>
  {% if page.headjs != null %}{{ page.headjs }}{% endif %}
</head>
<body id="top" class="{{page.title | downcase |remove: ".html" |replace:'','-'}}-html">
<div id="topline"></div>
<div id="wrap" class="centered">
   <div id="header">
      <a id="logo" href="/"><img src="{{site.baseurl}}/img/icogreen.png" alt="Home"><span><strong>奔跑吧</strong>大兄弟</span></a>
	  <ul>
		  <li><a{% if page.categories contains "blog" %} class="active"{% endif %} href="{{site.baseurl}}/index.html">Coding</a></li>
		  <li><a{% if page.categories contains "about" %} class="active"{% endif %} href="{{site.baseurl}}/about.html">About</a></li>
	  </ul>
   </div>
   <div class="content">
      {% if page.h1!=null %}<h1>{{page.h1}}</h1>{% endif %}
	  {{content}}
   </div>
   <div id="footer">
      <p>&copy;{{site.time | date:"%Y"}}</p>
   </div>
</html>


